body {
    background-color: black;
}

header {
    height: 100px;
}

.logo {
    height: 50px;
}

.logo-img {
    height: 100%;
}

p, h1, h2, h3 {
    color: white;
}

.about-company {
    border-radius: 25px;
    height: auto;
}

.main-img-block {
    width: 100%;
    height: auto;
    margin: auto;
}

.main-img {
    width: 100%;
    height: 300px;
    border-radius: 25px;
}

.ivs-main-type {
    width: 100%;
    background-color: rgb(34, 33, 33);
    padding: 0 30px 0 30px;
    border-radius: 25px;
}

.ivs-extra-type {
    width: 100%;
    background-color: rgb(34, 33, 33);
    padding: 0 30px 0 30px;
    border-radius: 25px;
}

/* .ivs-slider {
    height: 300px;
    width: 100%;
    overflow: hidden;
    transform: translate(10px, 0);
} */

.slide-item {
    height: 400px;
    width: 335px !important;
}

.card {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    align-items: center;
    position: relative;
}

.card button {
    position: absolute;
    top: 300px;
}

.card p {
    position: absolute;
    top: 150px;
}

.red-card {
    background-color: red;
}

.green-card {
    background-color: green;
}

.blue-card {
    background-color: blue;
}

.purple-card {
    background-color: rgb(241, 7, 171);
}

.card-block {
    height: 400px;
    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }   
}

@media screen and (max-width: 1200px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }   
}

@media screen and (max-width: 1199px) and (min-width: 1000px) {
    .slide-item {
        height: 400px;
        width: 98% !important;
    }
}

@media screen and (max-width: 999px) {
    .slide-item {
        height: 400px;
        width: 98% !important;
    }
}


 