@font-face {
    font-family: 'TildaSans'; /* Название шрифта */
    src: url('./TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.woff') format('woff'),
         url('./TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.woff2') format('woff2');
}

body {
    background-color: #1B1930;
    background-image: url(./icons/1.png), url(./icons/2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, right top;
    background-attachment: fixed, fixed;
    background-size: 80vw 80vh;
    font-family: 'TildaSans';
}

header {
    height: 100px;
    position: relative;
}

footer {
    position: relative;
}

footer .contacts p{
    position: absolute;
    right: 40px;
    bottom: 0px;
}

footer .contacts {
    position: relative;
}

footer .contacts img {
    width: 100%;
}

footer .contacts a {
    width: 55px;
    text-decoration: none;
    color: #9E00FF;
}

footer .icons {
    display: flex;
    justify-content: end;
    align-items: center;
}

footer .contacts .instagram-icon {
    width: 50px; 
    position: absolute;
    right: 130px;
    bottom: 40px; 
} 

footer .contacts .telegram-icon {
    width: 30px; 
    position: absolute;
    right: 105px;
    bottom: 43px; 
} 

footer .contacts .vkontakte-icon {
    width: 45px; 
    position: absolute;
    right: 60px;
    bottom: 45px; 
} 

footer .contacts .whatsapp-icon {
    width: 50px; 
    position: absolute;
    right: 20px;
    bottom: 35px;
} 

header a {
    text-decoration: none;
    color: #9E00FF;
}

header .phone p{
    position: absolute;
    right: 15px;
}

p, h1, h2, h3 {
    color: white;
}

button {
    border-radius: 25px;
    padding: 5px 30px;
    background: linear-gradient(#9E00FF, #BA38FF, #1B1930);
}

button:hover {
    background-color: #1B1930;
    color: white;
}

thead th{
    background: linear-gradient(#9E00FF, #BA38FF, #1B1930);
    color: white !important;
}

tfoot td {
    background: linear-gradient(#9E00FF, #BA38FF, #1B1930);
    color: white !important;
}

li {
    color: white;
}

.logo {
    height: 100px;
}

.logo-img {
    height: 100%;
}

.about-company {
    border-radius: 25px;
    height: auto;
}

.main-img-block {
    width: 100%;
    height: auto;
    margin: auto;
}

.main-img {
    width: 100%;
    height: 80%;
   /*  height: 300px; */
    border-radius: 25px;
}

.ivs-main-type {
    width: 100%;
    padding: 0 30px 0 30px;
    border-radius: 25px;
}

.ivs-extra-type {
    width: 100%;
    padding: 0 30px 0 30px;
    border-radius: 25px;
}

.slide-item {
    height: 400px;
    width: 335px !important;
}

.card {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    align-items: center;
    position: relative;
}

.card button {
    position: absolute;
    top: 330px;
}

.card p {
    position: absolute;
    top: 120px;
}

.card h3 {
    margin-top: 30px;
}

.red-card {
    background-color: red;
}

.green-card {
    background-color: green;
}

.blue-card {
    background-color: blue;
}

.grey-card {
    background-color: rgb(34, 33, 33);   
}

.purple-card {
    background: linear-gradient(#BA38FF, #9E00FF, #1B1930); 
    /* --bs-card-border-width: none; */
}

.card-block {
    height: 400px;
    margin-bottom: 30px;
}

.modal-content {
    /*background-color: #1B1930;
    background-image: url(./icons/1.png), url(./icons/2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, right top;
    background-attachment: fixed, fixed;
    background-size: 80vw 80vh;*/
    background-color: #1B1930;
    border-radius: 25px;
    top: 50px;
    height: 90%;
    width: 50%;
    margin: auto;
    overflow: auto; 
}

.modal-content::-webkit-scrollbar {
    width: 0;
}

.modal-content p, .modal-content h2 {
    color: white;
}

.modal-content h2 {
    float: left;
    margin-top: 30px;
}

.modal-content img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    float: right;
}

.modal-content img:hover {
    cursor: pointer;
}

.show {
    display: block !important;
}

.table-block {
    width: 80%;
}

.logo-footer {
    height: 100px;
}
 
@media screen and (min-width: 1200px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }   
}

@media screen and (max-width: 1200px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }  
    
    .modal-content {
        width: 90%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1000px) {
    .slide-item {
        height: 400px;
        width: 98% !important;
    }

    .card p {
        position: absolute;
        top: 75px;
    }
}

@media screen and (max-width: 999px) {
    .slide-item {
        height: 400px;
        width: 98% !important;
    }
}


 